@model Forum.Models.ViewModels.ThreadViewModel

@{
    Layout = "Admin/_AdminLayout";
}

<div class="ml-5 mr-5">
  <form asp-action="Edit">
    <div class="border border-primary rounded m-0">
      <div class="bg-primary h3 p-2">
        Thread Edit
      </div>
      <table class="table m-0">
        <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">Parent</th>
          <td>
            <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId" SelectionMode="Multiple" ></select>
          </td>
        </tr>
        <tr>
          <th scope="row">Closed</th>
          <td>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input asp-for="Closed" type="checkbox" class="btn-check" id="closed" autocomplete="off">
              <label class="btn btn-outline-danger" for="closed">Closed</label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <input type="submit" value="Save" class="btn btn-primary mt-2 w-100" />
    </div>
  </form>
  <a class="badge badge-primary mt-2" asp-action="Index">Back to List</a>
</div>
