@model Forum.Models.ViewModels.UserViewModel

@{
    Layout = "Admin/_AdminLayout";
}

<div class="ml-5 mr-5">
  <form asp-action="Edit">
    <div class="border border-primary rounded m-0">
      <div class="bg-primary h3 p-2">
        User Edit
      </div>
      <table class="table m-0">
        <tbody>
        <tr>
          <th scope="row">Username</th>
          <td>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">Location</th>
          <td>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">Roles</th>
          <td>
            <select asp-for="Roles" class="form-control" asp-items="ViewBag.Roles" SelectionMode="Multiple" ></select>
            <span asp-validation-for="Roles" class="text-danger"></span>
          </td>
        </tr>
        </tbody>
      </table>
      <input type="submit" value="Save" class="btn btn-primary mt-2 w-100" />
    </div>
  </form>
  <a class="badge badge-primary mt-2" asp-action="Index">Back to List</a>
</div>
