@model Forum.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "Admin/_AdminLayout";
}

<div class="ml-5 mr-5">
  <div class="border border-danger rounded m-0">
    <div class="bg-danger h3 p-2  m-0">
      Are you sure you want to delete this?
    </div>
    <table class="table m-0">
      <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>@Model.Name</td>
      </tr>
      <tr>
        <th scope="row">Parent</th>
        <td>@Model.ParentName</td>
      </tr>
      </tbody>
    </table>
  </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="container mt-4 border">
            @if (ViewBag.ParentId != null)
            {
                <div class="input-group my-2">
                    <span class="input-group-text">Move children to</span>
                    <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId"></select>
                </div>  
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger mt-2 w-100"/>
        </div>
    </form>
  <div>
      <a class="badge badge-primary mt-2" asp-action="Index">Back to List</a>
  </div>
</div>